.hidden {
  display: none;
}

.rightIcons {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 100%;
  padding-bottom: 10px;
}

.iconPosition {
  height: 16px;
  line-height: 13px;
  text-align: center;
  vertical-align: middle;
}

.replyMessage {
  width: fit-content;
  margin-left: 10px;
}

.nextIcons {
  width: fit-content;
  margin-left: 10px;
}

.nextIcons:hover {
  background-color: #a6acb4;
  color: #ffffff;
  cursor: pointer;
}

.replyMessage:hover {
  background-color: #a6acb4;
  color: #ffffff;
  cursor: pointer;
}

.new-message:hover {
  background-color: #a6acb4;
  color: #ffffff;
  cursor: pointer;
}
