.DivWithScroll{
  height:100%;
  overflow-y: auto;
}

.content-section {
  display: block;
  padding: 30px;
  overflow: hidden;
  background-color: #f5f7f8;
}

.implementation,
.implementation-charts {
    background-color: #FFFFFF;
    overflow: visible;
}